@keyframes example {
    0% {backgroundcolor:red; left:0px; top:0px;}
    25% {backgroundcolor:yellow; left:200px; top:0px;}
    50% {backgroundcolor:blue; left:200px; top:200px;}
    75% {backgroundcolor:green; left:0px; top:200px;}
    100% {backgroundcolor:red; left:0px; top:0px;}
    }
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: example 5s linear 2s infinite alternate;
}