body{
    background-color: #aaa;
    background-repeat: no-repeat;
    background-position: center center;
}
.container{
    max-width: 1200;
    margin:50px auto;
    background-color: rgba(134, 134, 134, 0.8);
    padding: 75px 0px;
}
.header{
    margin:20px;
    background-color: rgba(255, 0, 0, 0.5);
    padding-top: 5;
}
.section{
    margin:20px;
    background-color: rgba(255, 255, 0, 0.5);
    padding-top: 5;
}
.footer{
    margin:20px;
    background-color: rgba(127, 123, 233, 0.5);
    padding-top: 5;
}
div{
    text-align: center;
    max-width: 200;
    margin:50px 350px;
    padding-bottom: 5px;
}
h1{
    text-align: center;
}